@page
@model Examplium.IdentityServer.Pages.Account.DeleteAccount.AccountDeletedModel
@{
}
<div class="login-page">
    <div class="lead">
        <h1>Account deleted</h1>
    </div>
    <div class="row">
        <div>
            You have been logged out of the system and your account has been deleted.
        </div>
    </div>
    <div class="row">
        <a href="@Model.ReturnUrl">Return</a>
    </div>
</div>
