@page
@model Examplium.IdentityServer.Pages.Account.ChangePassword.PasswordSetModel
@{
}

<div class="login-page">
    <div class="lead">
        <h1>Password set</h1>
    </div>
    <div class="row">
        <div>
            Your password has been set.
        </div>
    </div>
    <div class="row">
        <a href="@Model.View.ReturnUrl">Return</a>
    </div>
</div>