@page
@model Examplium.IdentityServer.Pages.Admin.IndexModel
@{
}
<div class="login-page">
    <div class="lead">
        <h1>Administration</h1>
    </div>
    
    <div class="row">
        <div class="mt-2 mb-2">
            <a asp-page="/Admin/ManageUsers/">Manage users</a>
        </div>
        <div class="mt-2 mb-2">
            <a asp-page="/Admin/ResetConfiguration/">Reset configuration</a>
        </div>

    </div>
</div>