@page
@model Examplium.IdentityServer.Pages.Account.DeleteAccount.DeleteAccountEmailSentModel
@{
}
<div class="login-page">
    <div class="lead">
        <h1>Delete account email sent</h1>
    </div>
    <div class="row">
        <div>
            Please check your email for further instructions.
        </div>
    </div>
    <div class="row">
        <a href="@Model.View.ReturnUrl">Return</a>
    </div>
</div>